<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/surajkumarnaganuri/IdeaProjects/commonFrameWork">
        <classes>
            <class name="com.proj.utils.etc.JavaUtility">
                <methods>
                    <include name="run"/>
                </methods>
            </class>
            <class name="java8.consumer_interface.Use_Case_Test_1">
                <methods>
                    <include name="testRunner"/>
                </methods>
            </class>
            <class name="java8.consumer_interface.Use_Case_Test_2">
                <methods>
                    <include name="testRunner"/>
                    <include name="testRunner1"/>
                </methods>
            </class>
            <class name="java8.functional_interface.TestRunner">
                <methods>
                    <include name="returnBoolean"/>
                </methods>
            </class>
            <class name="com.projtest.api.DBDataVerification">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="com.projtest.api.GetUsersTest">
                <methods>
                    <include name="getUserByPageNumber"/>
                </methods>
            </class>
            <class name="com.projtest.api.Post_or_CreateNewUserTest">
                <methods>
                    <include name="createNewUser"/>
                </methods>
            </class>
            <class name="com.projtest.mobile.apptestcases.apptestCases">
                <methods>
                    <include name="createNewOrder"/>
                    <include name="addToExistingOrder"/>
                    <include name="modifyOrder"/>
                </methods>
            </class>
            <class name="com.projtest.mobile.demotest.DateTest">
                <methods>
                    <include name="customdateformate"/>
                    <include name="sample"/>
                    <include name="splitdate"/>
                    <include name="run"/>
                </methods>
            </class>
            <class name="com.projtest.mobile.demotest.FrameworkSanityCheck">
                <methods>
                    <include name="test"/>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
            <class name="com.projtest.mobile.demotest.ListOfStore">
                <methods>
                    <include name="listOfStore"/>
                </methods>
            </class>
            <class name="com.projtest.mobile.demotest.LoginPageTest">
                <methods>
                    <include name="homePageValidation"/>
                </methods>
            </class>
            <class name="com.projtest.mobile.demotest.SampleTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="com.projtest.mobile.demotest.ScrollAndCick">
                <methods>
                    <include name="scrollAndClick"/>
                </methods>
            </class>
            <class name="com.projtest.web.FrameworkSanityCheck">
                <methods>
                    <include name="test"/>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
            <class name="com.projtest.web.SampleTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="java8.TestAssignment">
                <methods>
                    <include name="testLinks"/>
                    <include name="testLinks1"/>
                </methods>
            </class>
            <class name="sdet.externalfilereading.excelfile.ExcelRunner">
                <methods>
                    <include name="testWithExcel"/>
                    <include name="testWithExcelAndMap"/>
                    <include name="excelReader"/>
                </methods>
            </class>
            <class name="sdet.externalfilereading.excelfile.zerocell.ZerocellTestDataTest">
                <methods>
                    <include name="zerocell"/>
                </methods>
            </class>
            <class name="sdet.fixtures.PostEmployeeTest">
                <methods>
                    <include name="postEmployeeTest"/>
                </methods>
            </class>
            <class name="sdet.testdatasupplier.UseCase1Test">
                <methods>
                    <include name="testDemo"/>
                    <include name="testDemo1"/>
                    <include name="testDemo2"/>
                    <include name="testDemo3"/>
                </methods>
            </class>
            <class name="sdet.testdatasupplier.UseCase2Test">
                <methods>
                    <include name="testDemo"/>
                    <include name="readjson"/>
                    <include name="readCsv"/>
                    <include name="readXlsx"/>
                    <include name="suraj2"/>
                </methods>
            </class>
            <class name="sdet.testdatasupplier.UseCase3Test">
                <methods>
                    <include name="testDemo"/>
                    <include name="testDemo1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>